@model IEnumerable<ClinicProject.NhanVien>

@{
    ViewBag.Title = "GetEmployee";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <link href="~/Assets/Admin/css/pages/specialists.css" rel="stylesheet" />
    <link href="~/Assets/Admin/css/vendors/Chart.min.css" rel="stylesheet" />
    <link href="~/Assets/Admin/css/pages/style.css" rel="stylesheet" />
}

<div class="section title-section">
    <h3 class="title">Nhân viên</h3>
    <hr />
</div>
<div class="section filters-section justify-content-between">
    <div class="buttons-wrapper ml-auto">
        <a class="btn btn-dark-red-f-gr" href="@Url.Action("AddEmployee","Employee")">
            <i class="las la-plus-circle"></i>
            Thêm nhân viên
        </a>
    </div>    
</div>
<div class="section specialists-table-view">
    <table class="table table-hover table-responsive-lg">
        <thead>
            <tr>
                <th>Họ và tên</th>
                <th>Giới tính</th>
                <th>Số điện thoại</th>
                <th>Địa chỉ</th>
                <th>Email</th>
                <th>Chức vụ</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img class="rounded-circle mr-1" src="~/Assets/Admin/images/doctor (1).svg" loading="lazy" />
                        <span class="ml-2">@item.HoTen</span>
                    </td>

                    @{string gender = "Nữ";
                        if (item.GioiTinh == true)
                        {
                            gender = "Nam";
                        }
                    }
                    <td class="text-muted">@gender</td>
                    <td>@item.SoDienThoai</td>
                    <td class="text-muted">@item.DiaChi</td>
                    <td class="text-lowercase text-muted">
                        <a href="">@item.Email</a>
                    </td>
                    <td class="text-muted">@item.QuyenSD.Quyen</td>
                    <td>

                        <a href="@Url.Action("EditEmployee","Employee", new { id = item.ID_NhanVien })" class="btn btn-sm btn-dark-blue-f">
                            <i class="las la-edit"></i>
                            sửa
                        </a>

                        <a href="" class="btn btn-sm btn-dark-red-f" data-toggle="modal" data-target="#delete-modal"
                                onclick="DeleteShowConfirm('@item.ID_NhanVien','@item.HoTen')">
                            <i class="las la-trash"></i>
                            xoá
                        </a>

                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>

<div class="modal" id="delete-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xác nhận</h5>
                <button type="button" class="close" data-dismiss="modal">
                    &times;
                </button>
            </div>
            <div class="modal-body delete-name">
                <p></p>
            </div>
            <div class="modal-footer">
                @using (Html.BeginForm("DeleteEmployee", "Employee"))
                {
                    @Html.AntiForgeryToken()
                    <input name="id" class="delete-id" type="hidden" />
                    <input type="submit" value="Đồng ý" class="btn btn-danger delete-now" />
                }
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        var DeleteShowConfirm = function (id, name) {
            $("#delete-modal").modal('show')
            $(".delete-name > p").text("Xác nhận cho thôi việc nhân viên " + name + "?")
            $(".delete-id").val(id)
            $('#delete-modal').modal('hide');
        }
    </script>
}
