@model IEnumerable<ClinicProject.LichKham>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <link href="~/Assets/Admin/css/pages/patients.css" rel="stylesheet" />
}



<div class="section title-section">
    <h3 class="title">Lịch khám</h3>
    <hr />

</div>

<div class="section filters-section">
    <div class="buttons-wrapper">
        <a class="btn btn-dark-red-f-gr" href="@Url.Action("AddAppointment","Appointment")">
            <i class="las la-plus-circle"></i>
            Thêm lịch khám
        </a>
    </div>
    <div class="ml-auto">
        <select class="form-control list-box tri-state " id="filter" name="filter" onclick="filterData()">
            <option value="ALL">Tất cả</option>
            <option value="P" selected="selected">Chưa xử lý</option>
            <option value="PD">Đã xử lý</option>
            <option value="D">Đã hoàn thành</option>
            <option value="C">Đã huỷ</option>
        </select>
    </div>

</div>


<div class="section patients-table-view" id="filteredData">

    <br />

    <table class="table table-hover table-responsive-lg">
        <thead>
            <tr>
                <th>Bệnh nhân</th>
                <th>Bác sĩ</th>
                <th>Chủ đề</th>
                <th>Mô tả</th>
                <th>Thời gian</th>
                <th>Trạng thái</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img class="rounded-circle mr-1" src="~/Assets/Admin/images/people.svg" loading="lazy" />
                        <span class="ml-2">@item.BenhNhan.HoTen</span>                        
                    </td>

                    <td>
                        <img class="rounded-circle mr-1" src="~/Assets/Admin/images/doctor (1).svg" loading="lazy" />
                        <span class="ml-2">@item.NhanVien.HoTen</span>                        
                    </td>

                    <td>@item.ChuDe</td>
                    <td>@item.MoTa</td>
                    <td>@Convert.ToDateTime(item.ThoiGian).Date.ToString("dd/MM/yyyy")</td>
                    <td>
                        @if (item.TrangThai == "P")
                        {
                            <a class="view-more btn btn-sm btn-dark-red-f" href="@Url.Action("Detail","Appointment", new { id = item.ID_LichKham })">Xử lý</a>
                        }
                        else if (item.TrangThai == "D")
                        {
                            <label class="label-blue">hoàn thành</label>
                        }
                        else if (item.TrangThai == "PD")
                        {
                            <label class="label-green">đã xử lý</label>
                        }
                        else
                        {
                            <label class="label-grey">đã huỷ</label>
                        }

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    function filterData() {
        var status = $("#filter").val();

        $.ajax({
            type: "POST",
            url: "@Url.Action("FilterByStatus", "Appointment")",
            data: { status: status },
            success: function (data) {
                $("#filteredData").html(data);
            },
            error: function () {
                alert("Error occurred while processing your request.");
            }
        });
    }
</script>